
<section class="content-36">
    <div class="container">
        <h2>We’ve created the product that will help your startup even better</h2>
        <p>The most important parts of the SwallowJs Framework are the simple included set of
            different functions. The SwallowJs is build main <strong class="pathjs">PathJs</strong> for routing, <strong class="mustachejs">MustacheJs</strong>
            for view and depend more on <strong class="firebase">Firebase</strong> for data-source, and also build-in server side
            request for your regular JSON calls.</p>
        <a class="btn btn-success" href="/documentation-beta"> Documentation </a>
    </div>
</section>

<footer class="footer-1 bg-midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="lead"><b>200,000</b> users registered since January</p>
                It’s our aim to increase productivity and make coding more enjoyable.
                <div class="social-btns">
                    <a href="#" class="social-btn-facebook"
                       data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!"
                       data-url="http://designmodo.com/startup/">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                        <div class="buttons">
                            <div class="button facebook">
                                <div id="fb-root"></div>
                                <div class="fb-like" data-href="http://designmodo.com/startup/" data-send="false"
                                     data-layout="button_count" data-width="" data-show-faces="false" data-action="like"
                                     data-colorscheme="" data-font="" data-via="undefined"></div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="social-btn-twitter"
                       data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!"
                       data-url="http://designmodo.com/startup/">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                        <div class="buttons">
                            <div class="button twitter"><a href="https://twitter.com/share" class="twitter-share-button"
                                                           data-url="false" data-count="horizontal"
                                                           data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!"
                                                           data-via="Designmodo" data-hashtags="" data-related=""
                                                           data-lang="en">Tweet</a></div>
                        </div>
                    </a>
                </div>
            </div>
            <nav>
                <div class="col-sm-2 col-sm-offset-1">
                    <h6>Categories</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Follow Us</h6>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-sm-2 buy-btn">
                <a class="btn btn-danger btn-block" href="#"> Improve this Doc </a> or <a href="#">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 additional-links">
                <a href="#">Terms of Service</a>
                <a href="#">Special Terms</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>


<footer class="hide">
    &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Powered by <a href="http://jekyllrb.com/">Jekyll</a>, <a
        href="http://github.com/renyuanz/leonids/">leonids theme</a> made with <i class="fa fa-heart heart-icon"></i>
</footer>
